<%= form_with(model: task, id: 'editor') do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :assigner_id, "担当者", class: "form-label fw-bold" %>
    <%= form.select :assigner_id, @users.map { |u| [u.screen_name, u.id] }, {}, class: "form-select" %>
  </div>

  <div class="mb-4">
    <%= form.label :project_id, "プロジェクト名", class: "form-label fw-bold" %>
    <%= form.select :project_id, @projects.map { |p| [p.name, p.id] }, { include_blank: true }, class: "form-select" %>
  </div>

  <div class="mb-4">
    <%= form.label :tags, "タグ", class: "form-label fw-bold" %>
    <div id="current-tags" class="mb-2"></div>
    <% tag_names = @task.tags.map(&:name) %>
    <input id="tag-names" name="tag_names" type="hidden" value="<%= tag_names.join(' ') %>" />
    <div class="input-group">
      <input autocomplete="off" id="tag-name" type="text" class="form-control" placeholder="タグを入力してください" />
      <button id="tag-add-button" type="button" class="btn btn-primary">Add tag</button>
    </div>
  </div>

  <%= javascript_include_tag 'tag_completion' %>

  <div class="mb-4">
    <%= form.label :due_at, "期限", class: "form-label fw-bold" %>
    <%= form.date_field :due_at, class: "form-control" %>
  </div>

  <div class="mb-4">
    <%= form.label :task_state_id, "状態", class: "form-label fw-bold" %>
    <%= form.select :task_state_id, @task_states.map { |p| [p.name, p.id] }, { include_blank: false }, class: "form-select" %>
  </div>

  <div class="mb-4">
    <%= form.label :content, "内容", class: "form-label fw-bold" %>
    <%= form.text_field :content, class: "form-control", placeholder: "タスクの内容を入力してください", required: true %>
  </div>

  <div class="mb-4">
    <%= form.label :description, "説明", class: "form-label fw-bold" %>
    <%= form.text_area :description, class: "form-control", rows: 10, placeholder: "タスクの説明を入力してください" %>
  </div>

  <div class="d-grid">
    <%= form.submit "保存", class: "btn btn-danger" %>
  </div>

  <%= javascript_include_tag 'prevent_transition_in_editing' %>
<% end %>
