<div class="flex">
  <%= render 'layouts/h1', title: "タスク一覧" %>
  <div class="flex-1">
  </div>
  <div class="p-3 my-3 border rounded flex space-x-4">
    <thead>
      <tr>
        <th>ソート：</th>
        <th><%= sort_link(@q, :updated_at, "更新順") %></th>
        <th><%= sort_link(@q, :created_at, "作成順") %></th>
        <th><%= sort_link(@q, :due_at, "期限順") %></th>
        <th><%= sort_link(@q, :project_id, "プロジェクト名順") %></th>
      </tr>
    </thead>
  </div>
  <div class="p-3 my-3 border rounded flex space-x-4">
  <!--検索フォーム-->
  <%= search_form_for @q do |f| %>
    <%= f.text_field :content_or_assigner_screen_name_or_description_or_project_name_cont, placeholder: '検索ワードを入力して下さい' %>
    <%= f.submit "検索" %>
  <% end %>
  </div>
  <%= link_to '新規作成', new_task_path, class: "my-auto text-white bg-red-400 rounded p-2" %>
</div>

<ul class="text-center nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item w-50 bg-light">
    <a class="nav-link active link-text" id="my-tasks-tab" data-toggle="tab" href="#my-tasks" role="tab" aria-controls="my-tasks" aria-selected="true"><%= current_user&.screen_name %>のタスク</a>
  </li>
  <li class="nav-item w-50 bg-light">
    <a class="nav-link link-text" id="all-tasks-tab" data-toggle="tab" href="#all-tasks" role="tab" aria-controls="all-tasks" aria-selected="false">すべてのタスク</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="my-tasks" role="tabpanel" aria-labelledby="my-tasks-tab">
    <%= turbo_frame_tag "my-tasks" do %>
      <%= render @mytasks %>
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center hidden-xs">
          <%= raw(paginate @mytasks) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mb-5 tab-pane fade" id="all-tasks" role="tabpanel" aria-labelledby="all-tasks-tab">
    <%= turbo_frame_tag "all-tasks" do %>
      <%= render @tasks %>
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center hidden-xs">
          <%= raw(paginate @tasks) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
