<div class="d-flex align-items-center">
  <%= render 'layouts/h1', title: "タスク一覧" %>
  <div class="flex-grow-1"></div>

  <div class="border p-3 my-3 rounded d-flex gap-3">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>ソート：</th>
          <th><%= sort_link(@q, :updated_at, "更新順", class: "link-primary") %></th>
          <th><%= sort_link(@q, :created_at, "作成順", class: "link-primary") %></th>
          <th><%= sort_link(@q, :due_at, "期限順", class: "link-primary") %></th>
          <th><%= sort_link(@q, :project_id, "プロジェクト名順", class: "link-primary") %></th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="border p-3 my-3 rounded d-flex align-items-center gap-3">
    <%= search_form_for @q, class: "d-flex align-items-center w-100" do |f| %>
      <%= f.text_field :content_or_assigner_screen_name_or_description_or_project_name_cont, 
        class: "form-control me-2", 
        placeholder: '検索ワードを入力して下さい', 
        style: "flex: 1;" %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>

  <%= link_to '新規作成', new_task_path, class: "btn btn-danger ms-3" %>
</div>

<%= render @tasks %>

<div class="row">
  <div class="col-12 text-center">
    <%= raw(paginate @tasks) %>
  </div>
</div>

<style>
  .text-black {
    text-decoration: none;
  }
</style>
