<%= form_with(model: api_token) do |form| %>
  <% if api_token.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(api_token.errors.count, "error") %> prohibited this api_token from being saved:</h2>

      <ul>
        <% api_token.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :description, "トークン名", class: "h5 font-weight-bold" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "保存", class: "btn btn-danger btn-block" %>
  </div>
<% end %>
