<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "氏名", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :screen_name, "アカウント名", class: "form-label" %>
    <%= form.text_field :screen_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :active, "アクティブ", class: "form-label" %>
    <%= form.check_box :active, class: "form-check-input" %>
  </div>

  <div class="actions">
    <%= form.submit "保存", class: "btn btn-danger w-100" %>
  </div>
<% end %>
