<div class="p-3 my-3 border rounded d-flex justify-content-between align-items-center">
  <div class="user-tile <%= 'text-muted' unless user.active %>">
    <div class="user-tile-icon">
      <% if user.active %>
        <i class="fas fa-user-alt fa-lg"></i>
      <% else %>
        <i class="fas fa-user-alt-slash fa-lg"></i>
      <% end %>
    </div>
    <p class="user-tile-profile h5">氏名: <%= user.name %></p>
    <p class="user-tile-profile h5">アカウント名: <%= user.screen_name %></p>
  </div>
  <% if logged_in? && current_user?(user) %>
    <div class="d-flex">
      <%= link_to '詳細', user, class: "btn btn-sm" %>
      <%= link_to '編集', edit_user_path(user), class: "btn btn-sm" %>
      <%= button_to '削除', user, method: :delete, data: { turbo_confirm: '退会しますか？' }, class: "btn btn-sm" %>
    </div>
  <% end %>
</div>
