<div class="p-3 my-3 border rounded flex space-x-4">
  <div>
    <p class="text-xl"><%= link_to document.content, document%></p>
    <p>開始日: <%= document.start_at&.strftime('%Y/%m/%d') %></p>
    <p>場所: <%= document.location %></p>
    <p>作成者: <%= link_to_if document.creator&.screen_name, document.creator&.name, document.creator %></p>
    <p style="margin-top: 0.5em">
    <% document.tags.each do |tag| %>
      <%= link_to tag_label(tag), tag %>
    <% end %>
    </P>
  </div>
  <div class="flex-1"></div>
  <% if logged_in? %>
    <%= link_to '詳細', document %>
    <%= link_to '編集', edit_document_path(document) %>
    <%= link_to '削除', document, method: :delete, data: { confirm: 'この文書を削除しますか？' } %>
  <% end %>
</div>
