<div class="flex mt-10">
  <%= render 'layouts/h1', title: "文書一覧" %>
  <div class="flex-1"></div>
  <%= link_to '新規作成', new_document_path, class: "my-auto text-white bg-red-400 rounded p-2" %>
</div>

<% @documents.each do |document| %>
  <div class="p-3 my-3 border rounded flex space-x-4">
    <div>
      <p class="text-xl"><%= document.content %></p>
      <p>開始日: <%= document.start_at&.strftime('%Y/%m/%d') %></p>
      <p>場所: <%= document.location %></p>
      <p>作成者: <%= link_to_if document.creator&.name, document.creator&.name, document.creator %></p>
      <p style="margin-top: 0.5em">
      <% document.tags.each do |tag| %>
        <%= link_to tag_label(tag), tag %>
      <% end %>
      </P>
    </div>
    <div class="flex-1"></div>
    <% if logged_in? %>
      <%= link_to '詳細', document %>
      <%= link_to '編集', edit_document_path(document) %>
      <%= link_to '削除', document, method: :delete, data: { confirm: 'この文書を削除しますか？' } %>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12 col-sm-12 text-center hidden-xs">
    <%= raw(paginate @documents) %>
  </div>
</div>
