<div class="flex">
  <%= render 'layouts/h1', title: "文書一覧" %>
  <div class="flex-1"></div>
  <div class="p-3 my-3 border rounded flex space-x-4">
    <thead>
      <tr>
        <th>ソート：</th>
        <th><%= sort_link(@q, :content, "タイトル順" )%></th>
        <th><%= sort_link(@q, :updated_at, "更新順")%></th>
        <th><%= sort_link(@q, :created_at, "作成順")%></th>
        <th><%= sort_link(@q, :start_at, "開始時刻順")%></th>
      </tr>
    </thead>
  </div>
  <div class="p-3 my-3 border rounded flex space-x-4">
  <!--検索フォーム-->
  <%= search_form_for @q do |f| %>
    <%= f.text_field :content_or_creator_screen_name_or_description_or_project_name_or_location_cont, placeholder: '検索ワードを入力して下さい' %>
    <%= f.submit "検索" %>
  <% end %>
  </div>
  <%= link_to '新規作成', new_document_path, class: "my-auto text-white bg-red-400 rounded p-2" %>
</div>

<%= render @documents %>

<div class="row">
  <div class="col-md-12 col-sm-12 text-center hidden-xs">
    <%= raw(paginate @documents) %>
  </div>
</div>
