<%= render 'layouts/h1', title: @document.content %>

<div class="my-3">
  <p class="text-xl">
    <%= @document.start_at&.strftime('%Y-%m-%d %H:%M') %>
    〜
    <%= @document.end_at&.strftime('%Y-%m-%d %H:%M') %>
  <p class="text-xl">作成者:
    <%= link_to_if @document.assigner&.name, @document.assigner.name, @document.assigner %>
  <p class="text-xl">所属プロジェクト:
    <%= link_to_if  @document.project&.name, @document.project&.name, @document.project %>
  </p>
  <br>
  <p class="text-xl">タグ:
    <% @document.tags.each do |tag| %>
      <%= link_to tag_label(tag), tag %>
    <% end %>
  </p>
  <br>
  <p class="text-xl block font-bold mb-2">文書内容</p>
  <div class="jay_document">
    <% desc = JayFlavoredMarkdownConverter.new(@document.description).content %>
    <% desc.each_line do |line| %>
      <% matched = line.match(/\([^ ]+ !([0-9]+)\)/) %>
      <% if matched != nil %>
        <%== $` %>
        <% task_url = ActionItem.find_by(uid:matched[1].to_i).task_url %>
        <% if task_url != nil %>
          <%= link_to matched[0], task_url.to_s %>
        <% else %>
          <% message = "Created from [AI#{matched[1]}](#{request.url})" %>
          <%= link_to matched[0], new_task_path(desc_header: message) %>
        <% end %>
        <%== $' %>
      <% else %>
        <%== line %>
      <% end %>
    <% end %>
    </div>
  </p>
</div>
