<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "プロジェクト名", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "保存", class: "btn btn-danger w-100" %>
  </div>
<% end %>
