<%= form_with(model: tag) do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>
      <ul>
        <% tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "タグ名", class: "form-label fw-bold" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="d-grid">
    <%= form.submit "保存", class: "btn btn-danger" %>
  </div>
<% end %>
