<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rask" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tab", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tasks", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "users", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "jfm", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "github-markdown", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <% flash.each do |message_type, message| %>
      <% message_color = { notice: "alert-info", success: "alert-success", danger: "alert-danger", alert: "alert-warning" } %>
      <div class="alert <%= message_color[message_type.to_sym] %> m-3" role="alert">
        <%= message %>
      </div>
    <% end %>

    <div class="container-fluid">
      <div class="row">
        <aside class="col-md-3 p-3">
          <%= render 'layouts/tag_list' %>
        </aside>

        <main class="col-md-9">
          <div class="container p-5">
            <%= yield %>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
