<!DOCTYPE html>
<html>
  <head>
    <title>Rask</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'tab' %>
    <%= stylesheet_link_tag 'tasks' %>
    <%= stylesheet_link_tag 'users' %>
    <%= stylesheet_link_tag 'jfm' %>
    <%= stylesheet_link_tag 'github-markdown' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |message_type, message| %>
      <% message_color = {:notice => "primary", :success => "primary", :danger => "warning", :alert => "danger"} %>
      <p class="m-3 p-3 bg-<%= message_color[message_type.to_sym] %> text-white rounded">
        <%= message %>
      </p>
    <% end %>
    <div class="container-lg px-4 py-3">
      <%= yield %>
    </div>
  </body>
</html>
